<div class="container mb-4">
  <div class="post-card">
    <%= simple_form_for @post, remote: true do |f| %>
      <div class="form--input">
        <%= f.input :content, input_html: { class: "form-txt py-3" }, placeholder: "What do you want to post?", label: false %>
      </div>
      <div class="form--input_elements d-flex justify-content-right mx-3">
        <div class="form--input_submit">
          <%= f.submit "Post", class: "btn btn-flat", id: "post-submit", role: "status", remote: true %>
        </div>
          <label class="btn btn-flat">
            <i class="fas fa-photo-video"></i>
            <span style="display:none;">
              <%= f.input :photos, as: :file, input_html: { multiple: true }, id: 'file-upload', class: 'photo_upload ', label: false %>
            </span>
          </label>
      </div>
    <% end %>
  </div>
  <%= render template: 'posts/index' %>
</div>