<h1>Posts</h1>
<% @posts.each do |post| %>
    <div class="row"  id="post-<%= post.id %>">
      <div class="col-12 post-container">

        <!-- header -->
        <div class="post-header d-flex justify-content-start">
          <%= link_to user_path(post.user) do %>
            <h5><%= post.user.first_name  %> <%= post.user.last_name  %></h5>
          <% end %>
          <p>
            <%= link_to user_path(post.user) do %>
              @<%= post.user.first_name %>
            <% end %>
            <span><%= distance_of_time_in_words(Time.now, post.created_at) %></span> ago
          </p>
        </div>

        <!-- content -->
        <div class="post-content">
          <div class="post-text">
            <h4><%= post.content %></h4>
          </div>
        </div>
        <hr>
        <% if current_user %>
          <br>
          <%= render 'posts/upvote_link', post: post %>
          <%= render 'posts/like_count', post: post %>
          <%= render 'posts/downvote_link', post: post %>
          <%= render 'posts/unlike_count', post: post %>
        <% end %>
      </div>
    </div>
<% end %>